@use "../styles/mixins.scss" as *;

.header {
  background: #265281;
  backdrop-filter: blur(7.050000190734863px);
  overflow-x: hidden;
  position: relative;
  z-index: 2;

  &__inner {
    display: flex;
    align-items: center;

    @media (max-width: 1250px) {
      padding-top: 9px;
      padding-bottom: 11px;
    }
  }

  &__navigation {
    margin-left: auto;

    @media (max-width: 1250px) {
      display: none;
    }
  }

  &__logo {
    margin-right: 22px;

    @media (max-width: 730px) {
      display: none;
    }

    svg {
      @media (max-width: 1550px) {
        max-width: 112px;
      }

      @media (max-width: 1250px) {
        max-width: 95.4px;
        height: 66px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
      color: #FAF4C3;

      &:first-child {
        font-size: 15px;

        @media (max-width: 1550px) {
          font-size: 12px;
        }

        @media (max-width: 730px) {
          display: none;
        }
      }

      &:nth-child(2) {
        font-family:  var(--font-ponomar);
        font-weight: var(--font-regular);
        font-size: 26px;

        @media (max-width: 1550px) {
          font-size: 22px;
        }
        @media (max-width: 730px) {
          font-size: 18px;
          max-width: 155px;
        }

      }

      &:last-child {
        font-size: 15px;

        @media (max-width: 1550px) {
          font-size: 12px;
        }

        @media (max-width: 730px) {
          font-size: 10px;
        }
      }
    }
  }

  &__list {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 16px;

    li {
      a {
        font-size: 16px;
        color: #FAF4C3;

        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        a {
          color: #FFFFFF;
        }
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    @media (max-width: 1250px) {
      margin-left: auto;
    }
  }

  &__mail {
    @media (max-width: 1250px) {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #FAF4C3;

      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      @media (max-width: 1550px) {
        width: 44px;
        height: 44px;
      }
    }
  }

  &__phone {
    a {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #FAF4C3;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 730px) {
        font-size: 15px;
      }
    }

    svg {
      @media (max-width: 1550px) {
        width: 44px;
        height: 44px;
      }

      @media (max-width: 730px) {
        display: none;
      }
    }
  }
}

.burger-menu {
  display: none;

  @media (max-width: 1250px) {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 4px 12px 3px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background: #FAF4C3;
    border: none;
    cursor: pointer;
    flex-direction: column;
    gap: 6px;
    margin-left: 13px;
    position: relative;
    z-index: 1001;
    transition: background-color 0.3s ease;

    &__line {
      width: 20px;
      height: 2px;
      background: #265281;
      transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      display: block;
      pointer-events: none;
      border-radius: 1px;
    }

    &.is-open {
      .burger-menu__line {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}


.mobile-nav {
  position: fixed;
  top: 90px;
  right: -100%;
  width: 100%;
  max-width: 450px;
  height: 100%;
  background: #F2F5F6;
  z-index: 1000;
  transition: right 0.3s ease;
  pointer-events: none;
  padding-bottom: 70px;

  &.active {
    right: 0;
    pointer-events: auto;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #F2F5F6;
    padding-top: 20px;
    padding-bottom: 40px;


    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #E0E5E9;
    }

    &::-webkit-scrollbar-thumb {
      background: #265281;
      border-radius: 2px;
    }
  }

  .decor-item {
    padding-left: 18px;
    padding-right: 18px;
  }

  .plain-btn {
    max-width: 311px;
    margin: 20px auto 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mobile-menu {
  margin-bottom: 17px;

  & > li {
    padding: 8px 18px;
    border-bottom: 1px solid #CFD9E3;

    a {
      color: #31475E;
      font-size: 16px;
      font-weight: var(--font-semibold);
      display: inline-block;
    }

    &.page-link {
      background: #FFF;

      a {
        font-weight: var(--font-regular);
      }
    }

    .sub-menu {
      & > li {
        padding-top: 8px;
        padding-bottom: 8px;

        a {
          color: #31475E;
          font-size: 16px;
          font-weight: var(--font-regular);
        }
      }
    }
  }
}

.mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, .7);
  backdrop-filter: blur(13.6999998093px);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 450px) {
  .mobile-nav {
    max-width: 100%;

    &__inner {
      .plain-btn {
        max-width: calc(100% - 36px);
        margin-left: 18px;
        margin-right: 18px;
      }
    }
  }
}