<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="footer__info">
                    <span>Церковь Покрова Божией Матери</span>
                    <span>д. Озера, Гдовского района Псковской области</span>
                </div>
                <div class="footer__contacts">
                    <div class="footer__address">
                        <include src="assets/svg/location.html"></include>
                        <span>Россия, 181637, Псковская область, Гдовский район, почтовое отделение Ямм, д.. Озера</span>
                    </div>
                    <div class="footer__phone">
                        <include src="assets/svg/footer-phone.html"></include>
                        <p>
                            <a href="tel:+79212191012">+7 921 219-10-12</a>
                            <span>(предварительно отправляйте СМС)</span>
                        </p>
                    </div>
                </div>
                <div class="footer__btn">
                    <button class="border-btn">
                        <include src="assets/svg/button-icon.html"></include>
                        <span>Напишите нам</span>
                    </button>
                </div>
            </div>
            <div class="footer__middle">
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Прп. Иларион Гдовский и церковь Покрова Божией Матери д. Озера</a>
                            <ul class="footer__sublist">
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Прп Иларион и основанный им на реке Желче монастырь</a>
                                </li>
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Церковь Покрова Божией Матери после закрытия монастыря</a>
                                </li>
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Мерзость запустения</a>
                                </li>
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Часовня памяти прп. Илариона Гдовского</a>
                                </li>
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Современность</a>
                                </li>
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Вехи истории</a>
                                </li>
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Обращение к паломникам</a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link basic">Протоиерей Николай Гурьянов</a>
                            <ul class="footer__sublist">
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Благословение</a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link basic">Пустынножительство</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link basic">Контакты</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link basic">Фотоальбом</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link basic">Видео</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__bottom">
                <div class="copyright">2026 © Церковь Покрова Божией Матери</div>
                <div class="references">Текст сайта: из книги Тихая радость, Мхайлова О.К., 2018 г.</div>
                <div class="user-agreement-policy">
                    <a href="#">Политика конфиденциальности</a>
                </div>
                <div class="development">
                    <a href="https://artfactor.ru/">Разработка сайта: Артфактор</a>
                </div>
            </div>
        </div>
    </div>
</footer>